@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Raleway:wght@500&display=swap');

*, :root
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fontsmoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body
{
  background-color: #0f172a;
}

main
{
  margin: 0 auto 64px;
  max-width: 640px;
  padding: 20px;
}

header
{
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}

header h1
{
  margin-top: 24px;
  font-size: 30px;
  color: #f1f5f9;
}
/*Numerar as perguntas usando CSS*/
#quiz
{
  counter-reset: quiz-item;
}

.quiz-item
{
  margin-top: 24px;
  border: 1px solid #475569;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3
{
  padding: 16px 20px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #1e293b;
}
/*Ele vai numerar*/
.quiz-item h3::before
{
  counter-increment: quiz-item;/*A cada h3 ele adicionar um número, criando uma ordem.*/
  content: counter(quiz-item);/*contador*/

  background-color: #475569;
  width: 28px;
  height: 28px;
  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;/*faz a bolinha não ficar comprimida*/
}

.quiz-item dl
{
  padding: 20px 24px;

  display: grid;/*mantem as linhas normais/os filhos, mas eu consigo colocar um espaço entre eles, se não tem grid o ga não funciona.*/
  gap: 8px;/*coloca um espaço entre os filhos, que no momento são os "dt", mas diferente do padding ele não vai adicionar 8px para baixo do ultimo dt(as repostas) assim não aumentando a caixa, por isso optei desta forma*/
}

.quiz-item dl dt
{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;/*Vai colocar um elemento ao lado do outro, assim podendo utilizar o block no input*/
  align-items: center;
  gap: 8px;

  color: #e2e8f0;
}

input
{
  all: unset;/*tiro todas as atribuições*/
  border: 1px solid #94a3b8;
  width: 16px;
  height: 16px;

  border-radius: 50%;

  /*display: inline-block;tranforma o input de uma linha para um quadrado, removendo a quebra de linha, como ficaria se eu mudasse de inline-block para block*/

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked
{
  border: 1px solid #a3e635;
}
/*pseudo-selector*/
input:checked::before
{
  content: "";
  width: 10px;
  height: 10px;

  background-color: #a3e635;
  border-radius: 50px;
}
/* Declaração */
#acertos 
{
  text-align: center;
  background-color: #a3e635;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
}